*.csharp linguist-detectable=true  
*.java linguist-detectable=false  
*.js linguist-detectable=false  
*.html linguist-vendored=true  
*.xml linguist-detectable=false 
*.py linguist-detectable=true
*.txt linguist-detectable=true
